@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');



/* SCROLLBAR STYLE */
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: var(--scrollbackground);
  /* -webkit-border-radius: 1ex; */
}

::-webkit-scrollbar-thumb {
  background: var(--orange);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: var(--background);
}

body {
  --scrollbackground: #ADBADA;
  /* FOR BACKGROUND OF SCROLL-BAR  */
  --orange: #3D52A1;
  /* COLOR OF SCROLL-THUMB */
  --background: #EEF7FF;
  /*  */

  background-color: var(--background);
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}